<a href="https://colab.research.google.com/github/mesogin/TIS2/blob/main/for%EB%AC%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#for문
for문은 한 변수가 순회 가능한 객체를 순회하면서 코드블록을 반복적으로 실행한다.

###형식
`for` 변수 `in` 순회가능한 객체:   
---반복하여 실행할 내용(코드블록)

In [ ]:
i=0
for i in range(0, 10) :
  print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
#연습문제
#1부터 10까지 구성된 리스트를 대상으로 각각의 원소를 세제곱하고 3으로 더한다음 2로 나눈 값을 결과값으로 출력해 보시오.
i=0
for i in range(1,11):
  x= (i ** 3 + 3)/2
  print(x)

In [ ]:
#연습문제
#n = [[1,2,3], [4,5,6], [7,8,9]] 리스트에서 각각의 요소를 반복문으로 출력하기
n = [[1,2,3], [4,5,6], [7,8,9]]
for a,b,c in n:
  print(a,b,c)

In [ ]:
A = [1, 2, 3]
B = ["A", "B", "C"]

for a, b in zip(A, B):
  print(a, b)

1 A
2 B
3 C

In [ ]:
#두 학급이 있는데 ["철수", "만수", "성호"], ["영희", "영자", "순이"] 를 대상으로 두학급의 같은 번호 학생끼리 묶기
class1 = ["철수", "만수", "성호"]
class2 = ["영희", "영자", "순이"]

for a, b in zip(class1, class2):
 print("두 학급의 학생은 {} 와 {} 입니다.".format(a, b))

두 학급의 학생은 철수 와 영희 입니다.
두 학급의 학생은 만수 와 영자 입니다.
두 학급의 학생은 성호 와 순이 입니다.

In [ ]:
#연습문제
#아래의 두 리스트에 대해 A에는 각각의 원소를 제곱하고, B는 각각의 원소에 입니다용을 붙여서 출력하기

A = [1, 2, 3]
B = ["A", "B", "C"]

for a in range(len(A)):
  x = A[a]
  y = B[a]
  z = x ** 2
  print("{}의 제곱은 {}, B는 {} 입니다".format(x, z, y))

1의 제곱은 1, B는 A 입니다
2의 제곱은 4, B는 B 입니다
3의 제곱은 9, B는 C 입니다

In [ ]:
#계산기 연습
for x in range(1,10):
  print("")
  print("{}단".format(x))
  for y in range(1,10):
    z = x * y
    print("{} X {} = {}".format(x, y, z))
    #f-string 사용하기
    #print(f"{x} * {y} = {x*y}")

1단
1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9

2단
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18

3단
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27

4단
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36

5단
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45

6단
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54

7단
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63

8단
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72

9단
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81

#**enumerate**  

인덱스와 요솔르 동시에 순회해야 하는경우 **enumerate** 함수를 사용하면 된다.

In [ ]:
#enumerate
L = ["A", "B", "C"]
for idx, value in enumerate(L):
  print(idx, value)

**.format을 사용하지 않고 값 입력하는법 ","사용하기**

In [ ]:
#.format을 사용하지 않고 값 입력하는법 ","사용
L = ["A", "B", "C"]
for idx, value in enumerate(L):
  print(idx, "번 인덱스는" ,value, "입니다.")

0 번 인덱스는 A 입니다.
1 번 인덱스는 B 입니다.
2 번 인덱스는 C 입니다.

In [ ]:
A = [1, 2, 3]
B = ["A", "B", "C"]
L = []

for a in A:
  print(a)
  for b in B:
    L.append((a,b))
    print(L)

print('최종결과', L)

1
[(1, 'A')]
[(1, 'A'), (1, 'B')]
[(1, 'A'), (1, 'B'), (1, 'C')]
2
[(1, 'A'), (1, 'B'), (1, 'C'), (2, 'A')]
[(1, 'A'), (1, 'B'), (1, 'C'), (2, 'A'), (2, 'B')]
[(1, 'A'), (1, 'B'), (1, 'C'), (2, 'A'), (2, 'B'), (2, 'C')]
3
[(1, 'A'), (1, 'B'), (1, 'C'), (2, 'A'), (2, 'B'), (2, 'C'), (3, 'A')]
[(1, 'A'), (1, 'B'), (1, 'C'), (2, 'A'), (2, 'B'), (2, 'C'), (3, 'A'), (3, 'B')]
[(1, 'A'), (1, 'B'), (1, 'C'), (2, 'A'), (2, 'B'), (2, 'C'), (3, 'A'), (3, 'B'), (3, 'C')]
최종결과 [(1, 'A'), (1, 'B'), (1, 'C'), (2, 'A'), (2, 'B'), (2, 'C'), (3, 'A'), (3, 'B'), (3, 'C')]