<a href="https://colab.research.google.com/github/mesogin/TIS2/blob/main/%EB%A6%AC%EC%8A%A4%ED%8A%B8_%ED%8A%9C%ED%94%8C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#리스트
L = [1, 2, 3, 4]
L1 = [5, 6, 7, 8]

#튜플
T = (1, 2, 3, 4)
T1 = (5, 6, 7, 8)

print(L, L1)
print(T, T1)

In [ ]:
#인덱싱
L = ["abc", 10, ["A", "B"] , (1, 2, 3)]
print(L[0], L[1], L[2], L[3])

In [ ]:
#리스트
L = ["A", "B", "C", "D", "E"]
print('0번쨰요소" {}, "3번쨰요소 {}' .format(L[0], L[3]))

In [ ]:

#문제 L= [1, 2, 3, "A", "B", True, [4,5,6]] 첫번째, 세번째, 마지막번째요소 추출하기
L= [1, 2, 3, "A", "B", True, [4,5,6]]
print(L[1], L[3], L[6])

In [ ]:
#다중함수 찾기
Llist = list(filter(lambda x: L[x] == True, range(len(L))))
print(Llist)

In [ ]:
#슬라이싱
T = ("A", "B", "C", "D", "E")
print(L[0:3])

In [ ]:
#문제
#1, L을 대상으로 B,C,D를 슬라이싱 추출
#2, T를 대상으로 C, D를 슬라이싱 추출
L = ["A", "B", "C", "D", "E"]
T = ("A", "B", "C", "D", "E")

print(L[1:4])
print(L[2:4])
L.index("C")

In [ ]:
# 리스트속의 리스트 추출하기
A = [[1,2,3], [4,5,6]]
print(A[1][2])

In [ ]:
#리스트는 변경(추가, 제거, 수정)이 가능한 자료형이지만 튜플은 불가능 
L = ["A", "B", "C", "D", "E"]
L[0] = "X"
print(L)

In [ ]:
#append 예제
#기존 학급이 "영희", "철수", "만수" 등 3명으로 구성된 학급이 있습니다.
#"영자"가 전학을 왔어요, 이학급 리스트에 영자를 가장 끝에 추가해 보세요
Class = ["영희", "철수", "만수"]
Class.append("영자")
print(Class)

In [ ]:
#insert
L= [1, 3, 4, 5]
L.insert(1,2)
print(L)

In [ ]:
#remove
#같은값이 있는경우 맨앞의 값이 삭제
L = ["A", "B", "C", "D", "E"]
L.remove("B")
print(L)

In [ ]:
#pop
#괄호안에 해당 인덱스값 삭제 (값 입력 안한경우 마지막 인덱스 삭제)
L = ["A", "B", "C", "D", "E"]
L.pop()
print(L)

In [ ]:
#del
#삭제 범위 설정 가능
L = ["A", "B", "C", "D", "E"]
del L[2]
print(L)
del L[1:] #1번이상 삭제
print(L)

In [ ]:
#len
#리스트 길이 구하기
L = ["a", "b", 1, 2]
T = (1, 2, 3)
print(len(L), len(T))

In [ ]:
#중첩 리스트 길이 (L의 0번째 요소 길이 구하기)
L =[[1, 2, 3], [4, 5]]
print(len(L[0]))

In [ ]:
#중첩 리스트 길이 (L의 0번째 요소의 3번째 길이 구하기)
L =[[1, 2, 3,[1,2,3,4,5]], [4, 5]]
print(len(L[0][3]))

In [ ]:
#튜플 값 입력
(a, b) = (1, 2)
print (a, b)
(a, b) = (b, a)
print (a, b)

In [ ]:
#오름차순 정렬
a = [1, 3, 2]
a.sort()
a

In [60]:
#내림차순 정렬
r = [1, 3, 2, 4]
r.sort()
r.reverse()
r

[4, 3, 2, 1]

In [61]:
#count
a = [1, 2, 3, 4, 1, 2, 1, 11]
a.count(1)

3

In [65]:
#extend
a = [1, 2, 3]
b = [4, 5]
a.extend(b)
a

[1, 2, 3, 4, 5]