<a href="https://colab.research.google.com/github/mesogin/TIS2/blob/main/%ED%95%A8%EC%88%98.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**함수**  
_함수는 입력에 따라서 적적한 출력을 반환한다._  
_불필요한 반복작업을 줄이고 코드의 흐름을 파악하기 쉬워짐_

#함수의 기본구조


```python
def 함수이름(인자) :
  수행할 문장1
  수행할 문장2
  ...
  return 출력

함수 이름(인자) #함수 호출(call)
```

In [ ]:
#함수 예시
number = 2
def add(i) :
  x = i + 1
  return x

print(add(number))

3

In [ ]:
def f(x):
  y = 2 * x -1
  return y

print(f(10))

19

In [ ]:
#연습문제
#숫자 x를 입력하면 제곱이 되도록 하는 함수를 만들어보세요

def f(x):
  y = x ** 2
  return y

print(f(9))

81

In [ ]:
#연습문제2
#홀수가 입력되면 홀수라는 문자열을 반환하는 함수를 만들어보세요.
#그리고 임의이 짝수와 훌수를 하나씩 인자로 입력하여 함수를 호출해 보세요
#사용자에게 입력받음(input)

def num(x):
  if x % 2 == 0:
    print("입력하신 숫자는 {} 짝수입니다.".format(x))
    return
  else:
    print(f"입력하신 숫자는 {x} 홀수입니다.")
    return

user_input = input("정수를 입력하세요: ")
if user_input.isdecimal(): #입력받은 숫자가 10진수 형태인지 확인
  user_input = int(user_input)
else:
  user_input = input("정수를 다시 입력하세요: ")
  user_input = int(user_input)

num(user_input)

정수를 입력하세요: ee
정수를 다시 입력하세요: 32
입력하신 숫자는 32 짝수입니다.

In [ ]:
#연습문제
#3개의 인자를 받아 값을 모두 더하여 반환하는 함수를 만들어보세요

def num(x,y,z):
  sum = x + y + z
  return sum

num(1, 2, 3)

6

In [ ]:
#입력한 메세지를 n번 출력하는 함수를 정의

def print_n_times(msg, n=2):  # n=2는 n의 기본값으로 2를 사용하겠다는 의미
  for _ in range(n):  # for문의 변수가 활용되지 않고 단순히 n번 반복하는데 쓰임
    print(msg)

print_n_times("Hello Would", 5)

Hello Would
Hello Would
Hello Would
Hello Would
Hello Would

In [ ]:
def multyply(a, b):
  return a*b

multyply(3,2)

6

In [ ]:
#연습문제
#구내식당 메뉴를 정의하는 함수 (이름: r1_caffeteria_menu)를 만들어 봅시다.
#밥 종류 (rice_kind), 국 종류(soup_kind), 후식 종류(dessert_kind)를 키로 하는 딕셔너리를 반환하는 함수를 정의하되,
#후식(디저트)의 기본값은 '매실차'로 설정하세요

def r1_caffeteria_menu(rice_kind, soup_kind, dessert_kind='매실차' ):
  return {'밥':rice_kind, '국': soup_kind, '후식' : dessert_kind}
print(r1_caffeteria_menu('잡곡밥', '아욱국', '오렌지'))
print(r1_caffeteria_menu('흰쌀밥', '된장국'))
def r1_caffeteria_menu(rice_kind, soup_kind, dish_kind, dessert_kind='매실차' ):
  return {'밥':rice_kind, '국': soup_kind, '반찬' : dish_kind,'후식' : dessert_kind}
print(r1_caffeteria_menu('잡곡밥', '콩나물국', '김치'))

{'밥': '잡곡밥', '국': '아욱국', '후식': '오렌지'}
{'밥': '흰쌀밥', '국': '된장국', '후식': '매실차'}
{'밥': '잡곡밥', '국': '콩나물국', '반찬': '김치', '후식': '매실차'}

In [ ]:
#람다식
simple = lambda x: x+2
simple(3)

5

In [ ]:
#람다식
minus = lambda x, y: x - y
minus(31, 22)

9

In [ ]:
#람다식 함수
def minus(x,y):
  return x - y

minus(3,2)

1

In [ ]:
#문제1:
#본인의 이름을 입력하면 '이름이 멋져요~' 라고 출력되는 함수를 만들고 호출해 보세요.

def name(x):
  if x == '김중교' or x== '중교':
    return print(x + " 이름이 멋져요~")
  else:
    return print("이름을 잘못 입력 하셨어요")

name('김중교')

김중교 이름이 멋져요~

In [ ]:
#문제2:
#어떤 숫자플 입력하면 그 숫자에 1000을 더하여 반환하는 함수를 만들고 호출해 보세요

def plus(x):
  plus1000 = int(x)
  return print(plus1000 + 1000)

plus(234)

1234

In [ ]:
#문제3:
# 좋아하는 숫자 2개를 입력하면, 그 두 숫자를 "리스트" 형태로 반환하는 함수를 호출해 보세요

def list_Two(x, y):
  list = [x, y]
  return print(list)

list_Two(1,2)

[1, 2]

In [ ]:
#문제4:
#본인의 이름과 좋아하는 동물을 입력하면
#해당 이름과 동물이 "튜플(tuple)" 형태로 반환되는 함수 (my_favorite_animal)를 작성하고 호출해 보세요,
#동물의 기본값은 '동물은 다 좋아요'로 하세요.

def my_favorite_animal(ani, mal):
  animal = (ani, mal)
  return print(animal)

my_favorite_animal('초롱이', '시루')

('초롱이', '시루')

In [ ]:
#문제5:
#본인의 이름과 거주지를 입력하면 딕셔너리 형태로 반환하는 함수를 만들고 호출하세요.
def my_home(name,residence):
  home = {'이름' : name, '거주지' : residence}
  return (home)
my_home('김중교', '청라')

{'이름': '김중교', '거주지': '청라'}